<html>
    <head>
        <style>
            .bob{
                width: 500px;
                height: 600px;
                align-content: center;
                background-color: black;
                 position: absolute; /* top: 0; bottom: 0; */ left: 0; right: 0; margin: auto;
                
                
            }
            .tad
            {
                background-image: url(https://i.pinimg.com/564x/47/fe/61/47fe61c5d89bb44e2940acd529f1c2b8.jpg);
            }
        </style>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
</head>
    <body class="tad">
    <div class="bob">
    <img src="https://i.pinimg.com/564x/21/1b/25/211b252617b9e405ff2c53d82dd08de1.jpg" height="700px" width="600px"> 
    </div>
  
        
        
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>