
{% extends 'blog/base.html' %}

{% block content %}
<div class="form-color">
<div class="container pull-right">
		
	<div class="row main">
			
	<div class="panel-heading">
	
           
   <div class="panel-title text-center">
	 
              		<center><h1 class="title" >Sign Up</h1>
	</center>
               		<hr />
	        
       	</div>
	
            </div> 
			
	<div class="main-login main-center ">


			
		<form class="form-horizontal" name="myForm" >
			 <form method="POST" ><center><font color="black">
        {% csrf_token %} {{ form.as_p }}
                 <button type="submit">Submit</button></center></font>
    </form>

                 <a href="{% url 'login' %}">Already a member of STUDEX??</a></form>
        </div></div></div></div>
						{% endblock %}